snippet t "Awesome tab" !b
<${1:div}>
<!--   -->
</$1>
endsnippet

snippet text "text box" !b
<input type='text' name='$1' $0>
endsnippet
#snippet nc "ng-controller" !b
#ng-controller="$1"
#endsnippet
