snippet "\s+,\s+ fn" "Anon Function" b
, function() {
  $0
}
endsnippet

snippet fn "Function" b
function ${1:name}() {
  $0
}
endsnippet

snippet nc "Angular Controller" b
function ${1:Name}Ctrl($scope) {
  $0
}
endsnippet

