snippet it
it "${1:scenario}" do
  $0
end
endsnippet

snippet desc
describe "${1:scenario}" do
  $0
end
endsnippet

snippet before
before do
  $0
end
endsnippet

snippet after
after do
  $0
end
endsnippet

snippet d
def ${1:name}$2
  $0
end
endsnippet

snippet di
def initialize${1}
  $0
end
endsnippet



