[Desktop Entry]
Encoding=UTF-8
Name=XMonad Focus
Comment=Lightweight tiling window manager
Exec=/home/minhajuddin/.xmonad/focus.start
Icon=xmonad.png
Type=XSession
#Type=Application
